In [ ]:
!pip install odfpy
import pandas as pd
import re
import os

Collecting odfpy
  Downloading odfpy-1.4.1.tar.gz (717 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 717.0/717.0 kB 7.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: defusedxml in /usr/local/lib/python3.11/dist-packages (from odfpy) (0.7.1)
Building wheels for collected packages: odfpy
  Building wheel for odfpy (setup.py) ... done
  Created wheel for odfpy: filename=odfpy-1.4.1-py2.py3-none-any.whl size=160672 sha256=504bce2d5559e171a1b5c7e83efd300263c8709c85ed1136ea0e17a9e73b49d6
  Stored in directory: /root/.cache/pip/wheels/d6/1d/c8/8c29be1d73ca42d15977c75193d9f39a98499413c2838ac54c
Successfully built odfpy
Installing collected packages: odfpy
Successfully installed odfpy-1.4.1
Collecting ace_tools
  Downloading ace_tools-0.0-py3-none-any.whl.metadata (300 bytes)
Downloading ace_tools-0.0-py3-none-any.whl (1.1 kB)
Installing collected packages: ace_tools
Successfully installed ace_tools-0.0

In [ ]:
# List of base file names
file_base_names = [
    "Brighton_and_Hove_East_Sussex_West_Sussex_LSIP_Main_Tables",
    "Buckinghamshire_LSIP_Main_Tables",
    "Cambridgeshire_and_Peterborough_LSIP_Main_Tables",
    "Cheshire_and_Warrington_LSIP_Main_Tables",
    "Cornwall_and_the_Isles_of_Scilly_LSIP_Main_Tables",
    "Cumbria_LSIP_Main_Tables",
    "Derbyshire_and_Nottinghamshire_LSIP_Main_Tables",
    "Dorset_LSIP_Main_Tables",
    "Essex_Southend-on-Sea_and_Thurrock_LSIP_Main_Tables",
    "Gloucestershire_LSIP_Main_Tables",
    "Greater_Lincolnshire_LSIP_Main_Tables",
    "Greater_London_LSIP_Main_Tables",
    "Greater_Manchester_LSIP_Main_Tables",
    "Heart_of_the_South-West_LSIP_Main_Tables",
    "Hertfordshire_LSIP_Main_Tables",
    "Hull_and_East_Yorkshire_LSIP_Main_Tables",
    "Kent_and_Medway_LSIP_Main_Tables",
    "Lancashire_LSIP_Main_Tables",
    "Leicester_and_Leicestershire_LSIP_Main_Tables",
    "Liverpool_City_Region_LSIP_Main_Tables",
    "Norfolk_and_Suffolk_LSIP_Main_Tables",
    "North_East_LSIP_Main_Tables",
    "North_of_Tyne_LSIP_Main_Tables",
    "Oxfordshire_LSIP_Main_Tables",
    "Solent_LSIP_Main_Tables",
    "South_East_Midlands_LSIP_Main_Tables",
    "South_Yorkshire_LSIP_Main_Tables",
    "Stoke-on-Trent_and_Staffordshire_LSIP_Main_Tables",
    "Swindon_and_Wiltshire_LSIP_Main_Tables",
    "Tees_Valley_LSIP_Main_Tables",
    "Thames_Valley_Berkshire_LSIP_Main_Tables",
    "The_Marches_LSIP_Main_Tables",
    "West_Midlands_and_Warwickshire_LSIP_Main_Tables",
    "West_of_England_and_North_Somerset_LSIP_Main_Tables",
    "West_Yorkshire_LSIP_Main_Tables",
    "Worcestershire_LSIP_Main_Tables",
    "York_and_North_Yorkshire_LSIP_Main_Tables"
]

In [ ]:
file_path = "Brighton_and_Hove_East_Sussex_West_Sussex_LSIP_Main_Tables.ods"
xls = pd.read_excel(file_path, sheet_name="Occ_T5", engine="odf")
selected_data = xls.iloc[3:16, 16:31]
selected_data

,"Occupation Table 5.1 Males: Employment Change by Status (SOC 2020), 2015-2035, Brighton and Hove East Sussex West Sussex",Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30
3,NaN,2015,NaN,NaN,NaN,NaN,2020,NaN,NaN,NaN,NaN,2035,NaN,NaN,NaN
4,Levels (000s),FT,PT,SE,Total,NaN,FT,PT,SE,Total,NaN,FT,PT,SE,Total
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,"Managers, directors and senior officials",45.249582,3.329239,10.484819,59.06364,NaN,48.749267,5.094287,10.399901,64.243455,NaN,50.252497,6.525216,11.985438,68.763151
7,Professional occupations,65.246153,6.043325,13.40473,84.694208,NaN,74.917609,9.322665,11.864584,96.104858,NaN,85.55316,12.498891,11.217021,109.269072
8,Associate professional occupations,43.75754,5.198263,9.874149,58.829952,NaN,47.600615,6.809599,7.954832,62.365047,NaN,46.507957,6.29022,8.0461,60.844277
9,Administrative and secretarial occupations,13.917273,3.541082,1.318862,18.777217,NaN,14.702361,4.322844,1.011367,20.036572,NaN,14.660659,3.764458,1.440319,19.865436
10,Skilled trades occupations,40.64325,4.967899,23.601526,69.212676,NaN,33.916005,4.250397,21.042377,59.20878,NaN,29.145153,5.186339,22.937477,57.268969
11,"Caring, leisure and other service occupations",12.876063,5.344049,1.374362,19.594474,NaN,12.048311,6.092653,1.241747,19.38271,NaN,15.727061,7.563675,1.811965,25.102701
12,Sales and customer service occupations,12.15752,12.481505,2.595293,27.234318,NaN,11.706113,14.124376,1.75735,27.587839,NaN,12.699274,14.910068,1.588814,29.198156
13,"Process, plant and machine operatives",25.016654,4.723566,6.725199,36.465419,NaN,21.524315,6.17909,6.082018,33.785423,NaN,20.356134,7.37933,7.157329,34.892793
14,Elementary occupations,27.416777,20.790989,3.237052,51.444817,NaN,22.796614,21.002063,2.936988,46.735665,NaN,20.182579,21.228883,3.945,45.356462
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# List of base file names
file_base_names = [
    "Brighton_and_Hove_East_Sussex_West_Sussex_LSIP_Main_Tables",
    "Buckinghamshire_LSIP_Main_Tables",
    "Cambridgeshire_and_Peterborough_LSIP_Main_Tables",
    "Cheshire_and_Warrington_LSIP_Main_Tables",
    "Cornwall_and_the_Isles_of_Scilly_LSIP_Main_Tables",
    "Cumbria_LSIP_Main_Tables",
    "Derbyshire_and_Nottinghamshire_LSIP_Main_Tables",
    "Dorset_LSIP_Main_Tables",
    "Essex_Southend-on-Sea_and_Thurrock_LSIP_Main_Tables",
    "Gloucestershire_LSIP_Main_Tables",
    "Greater_Lincolnshire_LSIP_Main_Tables",
    "Greater_London_LSIP_Main_Tables",
    "Greater_Manchester_LSIP_Main_Tables",
    "Heart_of_the_South-West_LSIP_Main_Tables",
    "Hertfordshire_LSIP_Main_Tables",
    "Hull_and_East_Yorkshire_LSIP_Main_Tables",
    "Kent_and_Medway_LSIP_Main_Tables",
    "Lancashire_LSIP_Main_Tables",
    "Leicester_and_Leicestershire_LSIP_Main_Tables",
    "Liverpool_City_Region_LSIP_Main_Tables",
    "Norfolk_and_Suffolk_LSIP_Main_Tables",
    "North_East_LSIP_Main_Tables",
    "North_of_Tyne_LSIP_Main_Tables",
    "Oxfordshire_LSIP_Main_Tables",
    "Solent_LSIP_Main_Tables",
    "South_East_Midlands_LSIP_Main_Tables",
    "South_Yorkshire_LSIP_Main_Tables",
    "Stoke-on-Trent_and_Staffordshire_LSIP_Main_Tables",
    "Swindon_and_Wiltshire_LSIP_Main_Tables",
    "Tees_Valley_LSIP_Main_Tables",
    "Thames_Valley_Berkshire_LSIP_Main_Tables",
    "The_Marches_LSIP_Main_Tables",
    "West_Midlands_and_Warwickshire_LSIP_Main_Tables",
    "West_of_England_and_North_Somerset_LSIP_Main_Tables",
    "West_Yorkshire_LSIP_Main_Tables",
    "Worcestershire_LSIP_Main_Tables",
    "York_and_North_Yorkshire_LSIP_Main_Tables"
]

# Initialize an empty list to store data for all files
all_processed_data = []

# Iterate over the file base names and process each file
for base_name in file_base_names:
    # Generate the full file path by adding the file extension
    file_path = os.path.join(f"{base_name}.ods")

    if os.path.exists(file_path):  # Check if the file exists
        try:
            # Load the spreadsheet
            xls = pd.read_excel(file_path, sheet_name="Occ_T5", engine="odf")

            # Extract the required table (Q4:AE16)
            selected_data = xls.iloc[3:16, 32:47]  # Convert Excel's column letters to zero-based indices

            # Rename columns based on the provided structure
            selected_data.columns = [
                "Category", "2015_FT", "2015_PT", "2015_SE", "Total_2015", "", "2020_FT", "2020_PT", "2020_SE", "Total_2020", "", "2035_FT", "2035_PT", "2035_SE", "Total_2035"
            ]

            # Drop empty columns
            selected_data = selected_data.drop(columns=["", "Total_2015", "Total_2020", "Total_2035"], errors='ignore')

            # Transpose the data
            transposed_data = selected_data.T

            # Reset the index to move index into a column
            transposed_data.reset_index(inplace=True)

            # Set the first row (index 0) as the header and drop it from the DataFrame
            transposed_data.columns = transposed_data.iloc[0]
            transposed_data = transposed_data.drop(index=0)

            # Drop columns
            transposed_data = transposed_data.drop(transposed_data.columns[[1, 2, 3, -1]], axis=1)

            # Remove 'Category' column and create 'Year' and 'Employment_Type' columns
            transposed_data['Year'] = transposed_data['Category'].str.extract(r'(\d{4})')  # Extract the year part
            transposed_data['Employment_Type'] = transposed_data['Category'].str.extract(r'_(\w+)')

            # Drop the 'Category' column as it's now split into 'Year' and 'Employment_Type'
            transposed_data.drop(columns=['Category'], inplace=True)

            # Extract region name from the file path
            region_name = os.path.splitext(os.path.basename(file_path))[0].replace("_LSIP_Main_Tables", "")

            # Add the 'Region' column at the first position with the extracted region name
            transposed_data.insert(0, "Region", region_name)

            # Add 'Gender' and 'Type' columns with the constant values
            transposed_data['Gender'] = 'Female'
            transposed_data['Type'] = 'Levels (000s)'

            # Reorder columns
            column_order = ['Region', 'Gender', 'Year', 'Type', 'Employment_Type'] + [col for col in transposed_data.columns if col not in ['Region', 'Gender', 'Year', 'Type', 'Employment_Type']]
            transposed_data = transposed_data[column_order]

            # Append the processed data to the list
            all_processed_data.append(transposed_data)

        except Exception as e:
            print(f"Error loading file {file_path}: {e}")
    else:
        print(f"File not found: {file_path}")

# Combine all the processed data into a single DataFrame
combined_data = pd.concat(all_processed_data, ignore_index=True)

# Display the combined data
combined_data

,Region,Gender,Year,Type,Employment_Type,"Managers, directors and senior officials",Professional occupations,Associate professional occupations,Administrative and secretarial occupations,Skilled trades occupations,"Caring, leisure and other service occupations",Sales and customer service occupations,"Process, plant and machine operatives",Elementary occupations
0,Brighton_and_Hove_East_Sussex_West_Sussex,Female,2015,Levels (000s),FT,20.648041,47.324693,26.81694,35.698215,4.298803,27.913229,10.878174,2.176157,10.681074
1,Brighton_and_Hove_East_Sussex_West_Sussex,Female,2015,Levels (000s),PT,6.434675,24.798409,14.429324,33.608504,3.243815,30.230686,25.082028,1.40632,36.822784
2,Brighton_and_Hove_East_Sussex_West_Sussex,Female,2015,Levels (000s),SE,5.663711,10.0519,11.194129,3.700924,3.181861,9.982235,2.114135,1.039074,1.89644
3,Brighton_and_Hove_East_Sussex_West_Sussex,Female,2020,Levels (000s),FT,23.911543,57.31258,31.943623,33.693228,4.227959,26.770517,9.931686,1.800326,9.426234
4,Brighton_and_Hove_East_Sussex_West_Sussex,Female,2020,Levels (000s),PT,9.793501,30.062659,16.668795,32.891678,3.153422,30.209278,25.648209,1.238253,35.011265
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328,York_and_North_Yorkshire,Female,2020,Levels (000s),PT,3.538568,13.59106,7.879835,17.800574,1.541001,15.949615,14.974387,1.152074,17.304397
329,York_and_North_Yorkshire,Female,2020,Levels (000s),SE,3.62287,3.864486,3.171924,1.261895,1.873635,3.619294,0.78381,0.465102,0.838241
330,York_and_North_Yorkshire,Female,2035,Levels (000s),FT,13.460938,35.667097,16.788409,12.177548,2.374438,16.515235,5.370057,3.605766,4.540767
331,York_and_North_Yorkshire,Female,2035,Levels (000s),PT,4.25836,16.401567,8.938618,15.531239,1.667663,16.785902,14.764955,2.09581,14.387404
332,York_and_North_Yorkshire,Female,2035,Levels (000s),SE,4.067273,4.137492,3.373282,1.042609,2.454203,3.518678,0.603228,0.482226,0.839285

In [ ]:
# Save the DataFrame as an Excel file
combined_data.to_excel("Females_levels.xlsx", index=False)